* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1600px;
    margin: 0 auto ;
    
}
.top_block {
   min-height: 768px; ;
   margin-bottom: 65px;
}
.padding {
    padding-left: 7%;
    padding-right: 7%;
}
.padding_230 {
    padding-left: 230px;
    padding-right: 230px;
}
.top_block_menu {
        height: 75px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #222222;
    
}
.top_block_menu_1 {
    display: flex;
    justify-content: left;
}

.top_block_menu_2 {
    display: flex;
    justify-content: right;

} 
.li {
    list-style: none;
}
.top_block_header {
   
    max-width: 1600px;
    background: #F1E4E6;
    
}

.header_img1 {
    display: flex;
}
.mega-menu {
    position: relative;
}
.mega-box {
    top: 75px;
border-radius: 0px;
background: #FFFFFF;
position: absolute;
height: 764px;
width: 232px;

}
.mega-head {
    display: flex;
}
.maga-link-head {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-decoration: none;

}
.maga-link {
    text-decoration: none;
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.maga-link:hover {
    color: #F16D7F;
}
.mid_block {
    margin-bottom: 96px;
}
.mid_block_menu_1 {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 30px;
    }

.con_block_header {
text-align: center;
}
.con_block_header_h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #222222;
    margin-bottom: 6px;
}
.con_block_header_p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #9F9F9F;
    margin-bottom: 48px;
}
.con_block_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.con_block_cards {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    margin-bottom: 30px;
}
.con_block_cards_name {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 25px;
    margin-bottom: 13px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #000000;
}
.con_block_cards_text {
    padding-left: 18px;
    padding-right: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}
.con_block_cards_price {
    padding-left: 18px;
    padding-right: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}
.con_block_button {
    text-align: center;
    margin-top: 20px;
}
.con_button {
    border: 1px solid #FF6A6A;
    font-family: sans-serif;
    display: inline-block;
    padding: 15px 40px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    text-decoration: none;
}
.footer_block_top {
    min-height: 341px;
    background: #222224;
    margin-top: 95px;
   
}
.footer_block_top_items {
    min-height: 341px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_block_top_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer_top_name {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 29px;
    margin-bottom: 16px;
}
.footer_top_text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}
.footer_block_mid {
    background-image: url(img/footer_background.png);
    height: 448px;
    display: flex;
    justify-content: space-evenly;
}
.footer_block_mid_items1 {
    width: 360px;
    margin-top:97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer_mid_ava_text {
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.footer_block_mid_items2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    width: 557px;
}
.footer_mid_sub_text1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    /* or 40px */
        text-align: center;
        color: #222224;
}
.footer_mid_sub_text2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.footer_block_bot {
    height: 79px;
    background: #222224;
    display: flex;
    justify-content: space-between;
}
.footer_bot_arr {
    height: 79px;
    align-items: center;
    
}
.footer_bot_arr_text {
    margin-top: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.footer_bot_links {
    height: 79px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.footer_bot_link {
    height: 32px;
    width: 32px;
    margin-left: 8px; 
}